@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.white);
  --foreground: theme(colors.gray.900);
  --primary: #5C45FD;
  --secondary: #161616;
  --accent: #969799;
  --light-primary: #A89BFF;
  --off-white: #F5F5F5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jakarta), sans-serif;
}

@layer components {
  .service-card {
    @apply p-6 rounded-2xl border border-gray-200 
           hover:border-[#A89BFF]
           transition-all duration-300 hover:shadow-lg hover:-translate-y-1;
  }
  
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#5C45FD] to-[#A89BFF];
  }

  .logo-text {
    @apply font-times;
  }

  .heading-text {
    @apply font-times;
  }
}
